extends layout

block content
    each article in articles
        section
            a.text-link.right(href=article.commentLink) comments
            h2
                a(href=article.link)= article.title
            .date
                a(href=article.link)= article.date
            div!= article.html  