body,
html {
  padding: 0;
  margin: 0;
}
body {
  border-top: solid 5px #630;
  color: #222;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
  line-height: 150%;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
li {
  margin-bottom: 1em;
}
li:last-child {
  margin-bottom: 0;
}
.content a {
  color: #111;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  border-bottom: dashed 1px #111;
}
.text-link {
  background: #f9f9f9;
  border: solid 1px #ccc;
  border-radius: 5px;
  color: #666;
  display: block;
  float: right;
  margin-left: 10px;
  padding: 3px 10px;
  font-weight: normal;
}
h2 {
  margin: 0;
}
h3 {
  font-size: 16px;
  margin: 1em 0;
}
.date {
  color: #666;
  margin-top: 5px;
}
section {
  padding: 10px;
}
section:nth-child(2n) {
  background: #f9f9f9;
}
section:nth-child(2n) .text-link {
  background: #fff;
}
.footer {
  color: #666;
  padding: 0 10px 10px 10px;
}
